{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/newspage.css') }}">
    <title>News Scraper | India today News </title>
{% endblock %}
{% block body %}
    <div class="header">
        <img style="max-width: 250px;" src="static\images\indiatoday-logo.jpg" alt="indiatoday-news">
    </div>

    <div class="container">
        {% for i in range(2) %}
            {% if i == 0 %}
            <div class="sub-header">
                <h2>India</h2>
            {% for news in News[i] %}
                <div class="news-div">
                    {% for j in range(3) %}
                        {% if j == 0 %}
                        <div class="image">
                            <img src="{{ news[j] }}" alt="Girl in a jacket" width="250" height="150">
                        </div>
                        {% elif j == 1 %}
                        <div class="text">
                            <h3><a href="{{ news[3] }}" target="_blank">{{ news[j] }}</a></h3>
                            <p>{{ news[2] }}</p>
                        </div>
                        {% endif %} 
                    {% endfor %}
                </div>
            {% endfor %}
            </div>
            {% elif i == 1 %}
            <div class="sub-header">
                <h2>World</h2>
            {% for news in News[i] %}
                <div class="news-div">
                    {% for j in range(3) %}
                        {% if j == 0 %}
                        <div class="image">
                            <img src="{{ news[j] }}" alt="Girl in a jacket" width="250" height="150">
                        </div>
                        {% elif j == 1 %}
                        <div class="text">
                            <h3><a href="{{ news[3] }}" target="_blank">{{ news[j] }}</a></h3>
                            <p>{{ news[2] }}</p>
                        </div>
                        {% endif %} 
                    {% endfor %}
                </div>
            {% endfor %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
    
{% endblock %}