<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static\images\favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/layout.css') }}">
    {% block head %} {% endblock %}
    
</head>
<body>
    <h1><a href="/">News Scraper</a></h1>
    <div class="category">
        <a href="/india">India</a>
        <a href="/world">World</a>
        <a href="/Sports">Sports</a>
    </div>
    {% block body %} {% endblock %}
</body>
{% block footer %} {% endblock%}
</html>